<ion-content [fullscreen]="true">
  <br>
  <br>
      <div class="container">
          <div class="center">
            <img src="assets\icon.png" height="150" width="500" alt="" srcset="" />
          </div>
        </div>
  <br>
  <br>
        <ion-card>
            <ion-card-content>
                <br>
               <div class="color2">
                   <ion-label >Email Address</ion-label>
                    <ion-item class="rounded">
                        <ion-input type="text" value=""></ion-input>
                    </ion-item>
                  <br>
                  <ion-label class="color3">Password</ion-label>
                  <ion-item class="rounded">
                      <ion-input type="text" value=""></ion-input>
                  </ion-item>
                  <br>
                  
                  <ion-button expand="block">REGISTER</ion-button>
  
                <div class="align" >
                  <ion-label slot="right" class="signUp" routerLink="/reset">Sign Up</ion-label>
                  <br>
                  <ion-label class="forgotPass" routerLink="/reset">Forgot Password</ion-label>
                </div>
                </div> 
  
  
                
            </ion-card-content>
          </ion-card>
  </ion-content>
